{% assign online-presence = site.data.data.online-presence %}
{% if online-presence %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-hashtag fa-stack-1x fa-inverse"></i>
    </span>
    {{ online-presence.title }}
  </h2>

  {% if online-presence.intro %}
  <div class="intro">
    {{ online-presence.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for presence in online-presence.items %}
  <div class="item">
    
    <div class="meta">
      
      <div class="upper-row">
        <li class="job-title">
        {% if presence.link %}
          <a href="{{ presence.link }}">{{ presence.title }}</a>
        {% else %}
          {{ presence.title }}
        {% endif %}
        </li>
        {{ presence.details }}
       </div><!--//upper-row-->
      
    </div><!--//meta-->  
  </div><!--//item-->
  {% endfor %}
  
  <hr />  
  
  <h4 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-solid fa-comments"></i>
    </span>
    {{ online-presence.subtitle }}
  </h4>
  
  {% if online-presence.subtitle-intro %}
  <div class="intro">
    {{ online-presence.subtitle-intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for comment in online-presence.comments %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <li class="job-title">
        {% if comment.link %}
          <a href="{{ comment.link }}"> <i class="fas fa-sharp fa-light fa-link"></i> </a>
        {% endif %}
        </li>
        {{ comment.translation }}
       </div><!--//upper-row-->
      
    </div><!--//meta-->  
  </div><!--//item-->
  {% endfor %}
  
  
</section><!--//section-->
{% endif %}
