{% assign public-talks = site.data.data.public-talks %}
{% if public-talks %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-microphone fa-stack-1x fa-inverse"></i>
    </span>
    {{ public-talks.title }}
  </h2>

  {% if public-talks.intro %}
  <div class="intro">
    {{ public-talks.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for public-talk in public-talks.talks %}
  <div class="item">
    
    <div class="meta">
      
      <div class="upper-row">
        <li><span class="job-title">{{ public-talk.title }}</span></li>
        {% if public-talk.link %}
          <a href="{{ public-talk.link }}">{{ public-talk.event }}</a>
        {% else %}
          {{ public-talk.event }}
        {% endif %}
        <div class="publication-authors time">{{ public-talk.place }}</div>
       </div><!--//upper-row-->
      
    </div><!--//meta-->  
    <div class="publication-conference">{{ public-talk.details }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
