@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        outline: solid 2px grey;
        outline-offset: -2px;
        margin-left: 10px;
        word-wrap: break-word;
        -webkit-print-color-adjust: exact; 
    }
      
    li.pdf {
       display: none;
    }
      
    img.avatar {
       display: none;
    }
      
    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }
      
   .job-title {
      font-size: 26px;
      font-weight: 800;
   }

}
